* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
h1 {
  color: #262626;
  text-align: center;
  font-size: 3.5rem;
  padding: 10px;
}

a {
  margin: 0 0 2px 0;
  padding: 20px;
  background-color: #333333;
  display: block;
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

a:hover {
  color: #7ba3cf;
}

a::after {
  content: "";
}
ul {
  list-style-type: none;
}

li {
  position: relative;
}

p {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #333333;
  color: white;
  font-size: 1.5rem;
}
iframe {
  border: 2px solid white;
  min-width: 40vw;
  min-height: 40vh;
}

svg {
  margin: 20px;
  position: absolute;
  right: 0;
  top: 0;
  fill: white;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
  a {
    font-size: 1rem;
  }
  li {
    padding: 10px;
  }
}
