@font-face {
  src: url("/fonts/MonumentExtended-Regular.ttf");
  font-family: Monument;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Monument";
  text-transform: uppercase;
}

.page100 {
  height: 100vh;
}

#nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;
  color: white;
  font-size: calc(0.75rem + 1vw);
}

a:hover {
  color: #2196f3;
}

#color-dropper {
  cursor: pointer;
  fill: white;
  width: 50px;
  height: 50px;
}

#color-dropper:hover {
  fill: #2196f3;
}

#frontPage {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

#frontPage #explore {
  font-size: calc(0.75rem + 1vw);
  padding: 7px;
  margin: 30px;
  color: #60b6fc;
  border: 2px solid #60b6fc;
  transition: all 0.3s;
}

#frontPage #explore:hover {
  color: #2196f3;
  border: 2px solid #2196f3;
}

h1 {
  user-select: none;
  color: white;
  text-align: center;
  font-size: calc(1rem + 4vw);
  padding: 10px;
}

h2 {
  user-select: none;
  color: #2196f3;
  text-align: center;
  font-size: calc(0.75rem + 1vw);
  padding: 10px;
  overflow: hidden;
}

#wrapper {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#021424+0,062846+100 */
  background: #021424;
  background: -moz-linear-gradient(top, #021424 0%, #062846 100%);
  background: -webkit-linear-gradient(top, #021424 0%, #062846 100%);
  background: linear-gradient(to bottom, #021424 0%, #062846 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#021424', endColorstr='#062846', GradientType=0);
  z-index: 1;
  position: relative;
}

footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer>a {
  text-align: center;
  background-color: #062846;
  display: block;
  padding: 40px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem + 5vw);
  }
  #color-dropper {
    width: 40px;
    height: 40px;
  }
  a {
    font-size: calc(1rem + 1vw);
  }
}

@media only screen and (max-width: 350px) {
  h1 {
    font-size: calc(1.25em + 5vw);
  }
  a {
    font-size: calc(0.75rem + 1vw);
  }
}