@font-face {
  src: url("/fonts/MonumentExtended-Regular.ttf");
  font-family: Monument;
}

@font-face {
  src: url("/fonts/MonumentExtended-Black.ttf");
  font-family: MonumentFat;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Monument";
  text-transform: uppercase;
}

.page100 {
  height: 100vh;
}

h1 {
  color: white;
  text-align: center;
  font-size: calc(1rem + 4vw);
  padding: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}


/*#171717*/

#smooth-scroll-wrapper {
  background: linear-gradient(0deg, #062846, #021424);
  z-index: 1;
  position: relative;
}

.pages {
  width: 100%;
  margin: 5% 0 0 10%;
  font-size: calc(1rem + 3vw);
  display: block;
  color: #2196f3;
  text-decoration: none;
  position: relative;
  left: 0;
  transition: all 0.2s ease-out;
}

.hover-effect:hover .pages {
  left: 5%;
  color: #60b6fc;
  font-style: italic;
}

main>ul {
  list-style-type: none;
}

#content {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer>a {
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #031321;
  display: block;
  padding: 40px;
  font-size: calc(0.75rem + 1vw);
}

footer>a:hover {
  color: #2196f3;
}

@media only screen and (max-width: 768px) {
  .page100 {
    height: 50vh;
  }
}