* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Poppins", sans-serif;
  font-weight: normal 200;
}
#title {
  padding: 10px 0 10px 50px;
  background-color: #262626;
}

#parent {
  padding: 50px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #333333;
}

.child {
  max-width: 800px;
  align-self: center;
  color: white;
  flex-shrink: 1;
}

#imgDiv {
  background-image: url("/images/thunderstorm.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 700px;
  height: 400px;
  flex-shrink: 1;
}

p {
  font-size: 1em;
  font-family: Poppins, sans-serif;
}
#text {
  min-width: 200px;
  width: 500px;
  flex-shrink: 2;
  padding-left: 20px;
}

h1 {
  color: #547aa5;
  font-size: 2em;
  font-family: Poppins, sans-serif;
  font-weight: bold;
}

ul {
  z-index: 2;
  text-transform: capitalize;
  padding: 10px 0 10px 0;
  font-family: Poppins, sans-serif;
  margin-right: 10px;
  position: sticky;
  text-align: right;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  background-color: #262626;
  color: #547aa5;
}

li {
  padding: 10px;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

li:hover {
  background-color: #547aa5;
  color: white;
}

#parent2 {
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
}

.child2 {
  z-index: 0;
  position: relative;
  margin: 20px 15px 15px 30px;
  padding: 20px;
  color: white;
  background: linear-gradient(
    135deg,
    rgba(84, 122, 165, 1) 0%,
    rgba(60, 94, 186, 1) 100%
  );

  align-self: center;
  flex-shrink: 1;
  width: 350px;
  min-height: 350px;
  border-radius: 15px;
}

.child2 h1 {
  color: white;
  margin-bottom: 10px;
}

.child2 p {
  text-emphasis: none;
}

.child2 img {
  max-width: 100%;
  align-items: center;
}

footer {
  font-family: Poppins;
  padding: 20px;
  text-align: center;
  color: white;
  background-color: #262626;
}

#effect {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("/images/thunderstorm.jpg");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20vw;
  font-weight: 1000;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #parent {
    flex-wrap: wrap;
  }

  #text {
    padding-left: 0;
  }
}
